.map_container {
    display: inline-flex;
    position: relative;
    width: 770px;
    height: 400px;
  }

.sidebarStyle {
    position: relative;
    bottom: 0;
    left: 0;
    margin: 5px;
    background-color: white;
    color: black;
    z-index: 1000 !important;
    padding: 6px;
    font-weight: normal;
}
  