
.container{
  position:absolute;
  width: 100%;
  height:100%;
  padding: 0px;
  margin:0px;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 70px repeat(1fr,auto);
}

.header-container {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start:1;
  background: #000000;
  text-align: left;
}

.pic-slogan-container{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start:2;
  grid-row-end:3;
}

.Trail-Info-container{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start:3;
  grid-row-end:4;
  font-family: Varela Round;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
/* or 200% */

text-indent: 1px;

color: #000000;
}

.section-header{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 26px;
  text-align: center;
  
  color: #000000;
}
.bg-image{
  filter: brightness(50%); 
}
.map-container{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start:3;
  grid-row-end:4;

  margin-left: 10%;
  margin-right: 10%;
  border-color: black;
}
.map-container > img{
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.checkin-container{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start:4;
  grid-row-end:5;
}

.user-checkin{
  margin-top: 30px;
  margin-bottom: 30px;
}

.button{
  background: #219653;
  height: 30px;
  width: 160px;
  padding: 0px;
  margin: 0px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.1em;

  color: #FFFEFE;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.review-container{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start:4;
  grid-row-end:6;
}
.review{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.reviewer-profile-pic{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start:1;
  grid-row-end:3;
  max-width:100%;
  height:auto
}

.username{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start:1;
  grid-row-end:2;
  font-family: Varela;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 30px;
/* identical to box height */

  text-align: center;
}

.post-time{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start:2;
  grid-row-end:3;
  font-family: Varela;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;

  color: #000000;
}
.review-rating{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start:2;
  grid-row-end:3;
  font-family: Varela;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;

  color: #219653;
}
.review-text{
  grid-column-start: 2;
  grid-column-end: 15;
  grid-row-start:3;
  grid-row-end:6;
  background: rgba(196, 196, 196, 0.5);;
  font-family: Varela;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  /* identical to box height, or 222% */

  text-align: center;

  color: #000000;
}

.add-new-review{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.add-review-profile-pic{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start:1;
  grid-row-end:3;
}

.add-review-text{
  margin:0px;
  grid-column-start: 2;
  grid-column-end: 15;
  grid-row-start:1;
  grid-row-end:3;
  background: rgba(196, 196, 196, 0.5);;
  font-family: Varela;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  /* identical to box height, or 222% */
  text-align: center;
  color: #000000;
}

.add-review-button{
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start:3;
  grid-row-end:4;
}

.events-container{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start:6;
  grid-row-end:7;
  margin-top: 50px;
}

.event{
  display: grid;
  grid-template-columns: repeat(1fr,15);
  grid-template-rows: 1fr 1fr;
  margin-top: 30px;
  margin-bottom: 20px;
}

.calender-pic{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start:1;
  grid-row-end:3;
}

.event-date-name{
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start:1;
  grid-row-end:2;
}

.event-orgnizer{
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start:2;
  grid-row-end:3;
}

.event-participants{
  grid-column-start: 6;
  grid-column-end: 10;
  grid-row-start:2;
  grid-row-end:3;
}

.see-participants-list{
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start:2;
  grid-row-end:3;
}

.join-event-button{
  grid-column-start: 13;
  grid-column-end: 16;
  grid-row-start:1;
  grid-row-end:3;
}

/* .title{
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    text-align: left;
    letter-spacing: 0.1em;
    margin-left: 40%;
    padding-bottom: 10px;
    color: #FFFEFE;
  
  }
  
  .header-container {
    position: relative;
    height: 70px;
    width: 100%;
    background: #000000;
    display: inline-flex;
    text-align: left;
  }
  
  .nav_button {
    color: #FFFEFE;
    background: #000000;
    border: none;
  }
  
  .nav-bar{
    display: inline-flex;
    margin-top: 20px;
    margin-left: 90px;
  }

  .login-button{
    text-align: center;
    background: #085027;
    color: #FFFEFE;
    border: none;
    height: 20px;
    margin-right: 10px;
    margin-top: 33px;
    border-radius: 5%;
  }

  .sign-up-button{
    text-align: center;
    background: #085027;
    color: #FFFEFE;
    border: none;
    height: 20px;
    margin-right: 70px;
    margin-top: 33px;
    border-radius: 5%;
  }
  
  .main-content-container{
    position: relative;
    width: 100%;
    height: 90%;
    
  }
  
  .slogan {
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    color: #FFFEFE;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  }
  
  
  .sub-slogan {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFEFE;
    letter-spacing: 0.05em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  }
  .bg-image{
    filter: brightness(50%); 
  }

  .content-top-container,.content-middle-container,.content-buttom-container{
    widows: 100%;
    height:4em
  }

  .content-top-container{
    background:cyan;
  }

  .content-middle-container{
    background:dodgerblue;
  }

  .content-buttom-container{
    background:hotpink;
  } */