.TrailInfo{
    position: absolute;
left: 0%;
right: 5.59%;
top: 0%;
bottom: -52.38%;

font-family: Varela Round;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
/* or 200% */

text-indent: 1px;

color: #000000;
}